<h1>this is the app comp of, {{title}}</h1>

<ul>
  <li><a routerLink="/login">Login</a></li>
  <li><a routerLink="/chocolate">chocolate</a></li>
  <li><a routerLink="/ice-cream">ice-cream</a></li>
  <li><a routerLink="/user/5">user 5</a></li>
  <li><a routerLink="/data-title">data-title</a></li>
  <li><a routerLink="/chassidim-menu">route-children-chassidim-menu</a></li>
  <li><a routerLink="/pipe-example">pipe example , and highlight directive</a></li>
  <li><a routerLink="/reactive-forms">reactive-forms</a></li>
  <li><a routerLink="/contact-us-form">Contact Us Form</a></li>
  <li><a routerLink="/practice-pipes">practice-pipes</a></li>
    

</ul>

<router-outlet></router-outlet>